{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="col-md-6 mx-auto">
        {{ form|crispy }}
        
        <button type="submit" name="action" class="btn btn-success" style="margin-bottom: 7px;">{% trans "Change Password" %}</button>
        <br>
        <a href="{% url 'core:home' %}" class="btn btn-success" style="margin-bottom: 5px;">Regresar</a>
        <br>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
    </form>
{% endblock %}
