<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Usuarios: {% block title %}{% endblock %}</title>

    {% load static %}
    <!-- favicon -->
    <link rel="icon" href="" type="image/png" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Sobre Nosotros.</h4>
            <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit nemo quia labore! Officia quo porro, quas velit quam molestias? Neque deserunt officia fugiat tempora quis ex unde repudiandae vel beatae!.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contáctanos</h4>
            <ul class="list-unstyled">
              {% if user.is_authenticated %}
                <li><a href="#" class="text-white">Bienvenido {{ user.first_name }}</a></li>
                <li><a href="{% url 'account_logout' %}" class="text-white">Cerrar sesión</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}" class="text-white">Regístrate</a></li>
                <li><a href="{% url 'account_login' %}" class="text-white">Inicia sesión</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <i class="bi bi-menu-down mr-2"  width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></i>
          <strong>Menú</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
    <div class="bg-light">
        <div class="container">
          <div class="py-5 text-center">
                {% block message %}
                <!-- here goes the dynamic information -->
                {% endblock %}
                {% block content %}
                    <!-- here goes the dynamic information -->
                {% endblock %}
    <footer class="my-5 pt-5 text-muted text-center text-small" style="bottom: 0px;">
        <p class="mb-1">&copy;</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
  </div>

    <!-- Javascript -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}js"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}'"></script>
    <script src="{% static 'js/vendor/holder.min.js' %}js"></script>
    {% block extrajs %}
    <!-- here are the extra scripts -->
    {% endblock %}
</body>
</html>